In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./Breast_cancer_data.csv", delimiter=",")

In [4]:
df.head() #gives first 5 entries of a dataframe by default

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0

In [5]:
df.columns

Index(['mean_radius', 'mean_texture', 'mean_perimeter', 'mean_area',
       'mean_smoothness', 'diagnosis'],
      dtype='object')

In [6]:
df.isnull().sum()

mean_radius        0
mean_texture       0
mean_perimeter     0
mean_area          0
mean_smoothness    0
diagnosis          0
dtype: int64

In [7]:
y_target = df['diagnosis']

In [8]:
df.columns.values

array(['mean_radius', 'mean_texture', 'mean_perimeter', 'mean_area',
       'mean_smoothness', 'diagnosis'], dtype=object)

In [9]:
df['target'] = df['diagnosis'].map({0:'B',1:'M'}) # converting the data into categorical

In [10]:
df['target']

0      B
1      B
2      B
3      B
4      B
      ..
564    B
565    B
566    B
567    B
568    M
Name: target, Length: 569, dtype: object

In [14]:
X_feature=df.drop(['target','diagnosis'],axis=1)

In [32]:
X_feature=df[['mean_area','mean_perimeter','mean_radius','mean_smoothness','mean_texture']]
X_feature.head()

   mean_area  mean_perimeter  mean_radius  mean_smoothness  mean_texture
0     1001.0          122.80        17.99          0.11840         10.38
1     1326.0          132.90        20.57          0.08474         17.77
2     1203.0          130.00        19.69          0.10960         21.25
3      386.1           77.58        11.42          0.14250         20.38
4     1297.0          135.10        20.29          0.10030         14.34

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test= train_test_split(X_feature, y_target, test_size=0.3, random_state = 42)

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [36]:
model = LogisticRegression()

In [37]:
model.fit(X_train, y_train)

C:\Users\JAYA\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [38]:
y_pred = model.predict(X_test)

In [39]:
acc = accuracy_score(y_test, y_pred)
print("Accuracy score using Logistic Regression:", acc*100)

Accuracy score using Logistic Regression: 93.56725146198829

In [40]:
model.predict([[17.99,10.38,122.80,1001.0,0.11840]])

array([0], dtype=int64)

In [41]:
# Malignant(1) i.e. Harmful ,or
# Benign(0) i.e. Not Harmful.

In [42]:
import pickle
with open("breast_cancer.pkl","wb+") as f:
    pickle.dump(model,f)

In [45]:
df[df.diagnosis==0]

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis,target
0,17.99,10.38,122.80,1001.0,0.11840,0,B
1,20.57,17.77,132.90,1326.0,0.08474,0,B
2,19.69,21.25,130.00,1203.0,0.10960,0,B
3,11.42,20.38,77.58,386.1,0.14250,0,B
4,20.29,14.34,135.10,1297.0,0.10030,0,B
...,...,...,...,...,...,...,...
563,20.92,25.09,143.00,1347.0,0.10990,0,B
564,21.56,22.39,142.00,1479.0,0.11100,0,B
565,20.13,28.25,131.20,1261.0,0.09780,0,B
566,16.60,28.08,108.30,858.1,0.08455,0,B
567,20.60,29.33,140.10,1265.0,0.11780,0,B

In [44]:
model.predict([[566.3,87.46,13.540,0.9779,14.36]])

array([1], dtype=int64)

In [46]:
model.predict([[1001.0,122.80,17.99,0.1180,10.38]])

array([0], dtype=int64)